:root{
    --primary: #fb8c00!important;
    --primary-hover: #f57c00!important;
    --primary-focus: rgba(251, 140, 0, 0.125)!important;
    --primary-inverse: #FFF!important;
    --error: #d81b60;

}
.logo {
    width: 100px;
    height: auto;
    border-style: none;
    margin: 0 auto;
    display: block;
    background: white;
    border-radius: 50%;
    padding: 1em;
    margin-top: 1em;
}

.logo img{
    width: 100px;
}
.badge{
    margin-left: 1em;
    padding: 0.2em;
    background-color: var(--primary);
    border-radius: 30px;
}

header h2{
    margin: 0;
}

.title{
    font-size: 1em;
    font-weight: bolder;
}

.tubo, .fibra{
    font-weight: 900;
    font-size: 1.2em;
}

.helper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.helper article{
    margin: 0;
}

.actions{
    display: flex;
    gap: 1em;
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
.container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

/* Cambiamos el fondo cuando esté en active */
.container::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}