.logo {
    width: 100px;
    height: auto;
    border-style: none;
    margin: 0 auto;
    display: block;
    background: white;
    border-radius: 50%;
    padding: 1em;
    margin-top: 1em;
}

.logo img{
    width: 100px;
}
